<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Chat App</title>
  </head>

  <body>

    <div id="frame">
      <div id="sidepanel">
        <div id="profile">
          <div class="wrap">
            <div style="display: none;" id="profileUser" data-img="http://emilcarlsson.se/assets/mikeross.png" data-name="Иван Иванов"></div>
            <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="">
            <p>Иван Иванов</p>
            <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
            <div id="status-options">
              <ul>
                <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
                <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
                <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
                <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
              </ul>
            </div>
            <div id="expanded">
              <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="mikeross">
              <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="ross81">
              <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
              <input name="twitter" type="text" value="mike.ross">
            </div>
          </div>
        </div>
        <div id="search">
          <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" placeholder="Search contacts...">
        </div>
        <div id="contacts">
          <ul>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status online"></span>
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
                <div class="meta">
                  <p class="name">Сергей Петров</p>
                  <p class="preview">Спортсмен</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="content" id="contentProfile" style="display: none;">
        <div class="contact-profile">
          <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
          <p>Сергей Петров</p>
          <div class="social-media">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
        <div class="messages">
          <ul id="chatroom">
            <li class="sent">
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">
              <p>Тестовое сообщение прислал</p>
            </li>
            <li class="replies">
              <img src="http://emilcarlsson.se/assets/mikeross.png" alt="">
              <p>Я получил</p>
            </li>
          </ul>
          <div id="feedback"></div>
        </div>
        <div class="message-input">
          <div class="wrap">
          <input type="text" id="message" placeholder="Введите сообщения...">
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button id="send_message" class="submit">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="16px" height="16px" viewBox="0 0 97.103 97.104" style="enable-background:new 0 0 97.103 97.104;"
              xml:space="preserve" fill="#fff"
            >
              <g>
                <path d="M93.82,0.37c-0.697-0.469-1.6-0.494-2.32-0.066L3.388,52.585c-0.748,0.444-1.158,1.291-1.043,2.152
                  c0.113,0.86,0.732,1.571,1.568,1.805l22.389,6.233c0.68,0.188,1.409,0.036,1.956-0.41l35.768-29.219L39.075,64.993
                  c-0.301,0.382-0.462,0.854-0.462,1.339v28.602c0,0.966,0.636,1.814,1.563,2.083c0.201,0.06,0.405,0.087,0.607,0.087
                  c0.728,0,1.425-0.366,1.83-1.004l15.577-24.45l22.772,6.338c0.598,0.167,1.24,0.067,1.764-0.271
                  c0.521-0.339,0.873-0.885,0.967-1.499L94.753,2.493C94.878,1.665,94.515,0.838,93.82,0.37z"/>
              </g>
            </svg>
          </button>
          </div>
        </div>
      </div>
    </div>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>